* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: Sans-serif; }

ul {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style: none;
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1); }

ul li {
  float: left;
  width: 100%;
  background-color: gray;
  opacity: 0.5;
  transition: opacity 1s; }
  ul li.active {
    opacity: 1; }
  @media screen and (min-width: 1024px) {
    ul li {
      width: 50%; } }
  @media screen and (min-width: 1280px) {
    ul li {
      width: 33.33%; } }
  @media screen and (min-width: 1400px) {
    ul li {
      width: 25%; } }

ul.no-images li {
  height: 250px; }

ul.padding li {
  padding: 20px; }

ul li:nth-child(2) {
  background-color: blue; }

ul li:nth-child(3) {
  background-color: darkblue; }

ul li:nth-child(4) {
  background-color: black; }

ul li:nth-child(5) {
  background-color: darkgreen; }

ul li:nth-child(6) {
  background-color: green; }

ul li:nth-child(7) {
  background-color: greenyellow; }

ul li img {
  display: block;
  width: 100%; }

div {
  position: relative; }

div.example {
  width: 75%;
  overflow: hidden;
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1); }
  div.example
div {
    width: 25%;
    height: 150px;
    background-color: green;
    float: left;
    opacity: 0.5;
    transition: opacity 1s; }
    div.example
div.active {
      opacity: 1; }

button {
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  cursor: pointer;
  transition: opacity 0.5s; }
  button.hide {
    opacity: 0; }

.carousel-next-button {
  right: 0; }

.carousel-prev-button {
  left: 0; }
