.carousel
{
	overflow: hidden;
	transition: transform .5s ease-in;

	li
	{
		display: block;
		height: 200px;
		width: 100%;
		background-color: #f0f0f0;

		@media screen and ( min-width: 800px )
		{
			width: 33.33%;
		}

		@media screen and ( min-width: 1280px )
		{
			width: 25%;
		}
	}
}

.carousel-prev-button,
.carousel-next-button
{
	position: absolute;
	top: 50%;
	display: block;
	width: 30px;
	height: 30px;
	background-color: red;

	&.hide
	{
		opacity: 0;
	}
}

.carousel-prev-button
{
	left: 0;
}

.carousel-next-button
{
	right: 0;
}
